<div class="ranking_bg">

		<a href="/congrats" class="back_button_rk">BACK</a>
	<div class="ranking_container">
			<div class="congrats_container">

				<div class="space">
				  <div class="ship">
				    <div class="ship-rotate">
				      <div class="pod"></div>
				      <div class="fuselage"></div>
				    </div>
				  </div>
				  <div class="ship-shadow"></div>
				  <div class="mars">
				    <div class="tentacle"></div>
				    <div class="flag">
				      <div class="small-tentacle"></div>
				    </div>
				    <div class="planet">
				      <div class="surface"></div>
				      <div class="crater1"></div>
				      <div class="crater2"></div>
				      <div class="crater3"></div>
				    </div>
				  </div>
				  <div class="test"></div>
				</div>

				<div >
					<span><b>THE IRONHACKERS RANKING</b></span>
				</div>	
				
				<%if @users_sorted.count >= 3%>
				<div class="ranking_oficial">
					
					<% if @users_sorted[0][:id] === current_user.id %>
						<div class="ranking_winner user_coincidence" >
					<% else %>
						<div class="ranking_winner">
					<%end%>
							<span style="color: #ff0a7c;">1</span>
							<span style="color: #3a2447;"><%= @users_sorted[0][:name] %></span>
							<span style="font-size: 36px;"><%= @users_sorted[0][:points] %> points</span>
							<img src="/primi.png" height="80px" style="position: absolute;" >
						</div>

					<% if @users_sorted[1][:id] === current_user.id%>
						<div class="ranking_next user_coincidence" >
					<% else %>
						<div class="ranking_next">
					<%end%>
							<span style="color: #1CC2EE;">2</span>
							<span style="color: #243a47;"><%= @users_sorted[1][:name] %></span>
							<span style="font-size: 30px;"><%= @users_sorted[1][:points] %> points</span>
							<img src="/segun.png" height="65px" style="position: absolute;" >
						</div>

					<% if @users_sorted[2][:id] === current_user.id%>
						<div class="ranking_next user_coincidence">
					<% else %>
						<div class="ranking_next">
					<%end%>
							<span style="color: #a249da;">3</span>
							<span style="color: #2c4724;"><%= @users_sorted[2][:name] %></span>
							<span style="font-size: 30px;"><%= @users_sorted[2][:points] %> points</span>
							<img src="/terce.png" height="40px" style="position: absolute; padding-top:10px;" >
						</div>
					
					<% @users_sorted.each.with_index do |user, index|%>
						<%if index>2%>
							<%if user[:id] === current_user.id %>
								<div class="ranking_loosers user_coincidence" >
							<%else%>
								<div class="ranking_loosers">
							<%end%>		
								<%= index +1 %>    <%= user[:name]%>  <span style="font-size: 23px;"><%= user[:points]%> points</span>
								</div>
						<%end%>
					<% end%>

				</div>
				<%else%>
				<%end%>

				
			</div>

			<div class="other_rankings">
				<div class="other_ranking_container">

					<div class="other_rainbow">
						<img src="/rbpic.jpg" class="repeat_game_pic ranking_pics">
							
							<% if @users_sorted_one[0][:id] === current_user.id %>
								<div class="ranking_winner by_game user_coincidence" >
							<% else %>
								<div class="ranking_winner by_game">
							<%end%>
									<span style="color: #ff0a7c;">1</span>
									<span style="color: #3a2447;"><%= @users_sorted_one[0][:name] %></span>
									<span style="font-size: 24px;"><%= @users_sorted_one[0][:points] %> miliseconds</span>
								</div>

							<% if @users_sorted_one[1][:id] === current_user.id%>
								<div class="ranking_next by_game2 user_coincidence">
							<% else %>
								<div class="ranking_next by_game2">
							<%end%>
									<span style="color: #1CC2EE;">2</span>
									<span style="color: #243a47;"><%= @users_sorted_one[1][:name] %></span>
									<span style="font-size: 18px;"><%= @users_sorted_one[1][:points] %> miliseconds</span>
								</div>

							<% if @users_sorted_two[2][:id] === current_user.id%>
								<div class="ranking_next by_game2 user_coincidence" >
							<% else %>
								<div class="ranking_next by_game2">
							<%end%>
									<span style="color: #a249da;">3</span>
									<span style="color: #243a47;"><%= @users_sorted_two[2][:name] %></span>
									<span style="font-size: 18px;"><%= @users_sorted_two[2][:points] %> miliseconds</span>
								</div>

							<% @users_sorted_one.each.with_index do |user, index|%>
							<%if index>2 && index<5%>
							<%if user[:id] === current_user.id %>
								<div class="ranking_loosers by_game3 user_coincidence" >
							<%else%>
								<div class="ranking_loosers by_game3">
							<%end%>		
								<%= index +1 %>    <%= user[:name]%>  <span style="font-size: 16px;"><%= user[:points]%> points</span>
								</div>
							<%end%>
							<% end%>

							</div>

					<div class="other_shooter">
						<img src="/str.jpg" class="repeat_game_pic ranking_pics">
							
							<% if @users_sorted_two[0][:id] === current_user.id %>
								<div class="ranking_winner by_game user_coincidence">
							<% else %>
								<div class="ranking_winner by_game">
							<%end%>
									<span style="color: #ff0a7c;">1</span>
									<span style="color: #3a2447;"><%= @users_sorted_two[0][:name] %></span>
									<span style="font-size: 24px;"><%= @users_sorted_two[0][:points] %> points</span>
								</div>

							<% if @users_sorted_two[1][:id] === current_user.id%>
								<div class="ranking_next by_game2 user_coincidence" >
							<% else %>
								<div class="ranking_next by_game2">
							<%end%>
									<span style="color: #1CC2EE;">2</span>
									<span style="color: #243a47;"><%= @users_sorted_two[1][:name] %></span>
									<span style="font-size: 18px;"><%= @users_sorted_two[1][:points] %> points</span>
								</div>
							

							<% if @users_sorted_two[2][:id] === current_user.id%>
								<div class="ranking_next by_game2 user_coincidence" >
							<% else %>
								<div class="ranking_next by_game2">
							<%end%>
									<span style="color: #a249da;">3</span>
									<span style="color: #243a47;"><%= @users_sorted_two[2][:name] %></span>
									<span style="font-size: 18px;"><%= @users_sorted_two[2][:points] %> points</span>
								</div>

						<% @users_sorted_two.each.with_index do |user, index|%>
							<%if index>2 && index<5%>
							<%if user[:id] === current_user.id %>
								<div class="ranking_loosers by_game3 user_coincidence">
							<%else%>
								<div class="ranking_loosers by_game3">
							<%end%>		
								<%= index +1 %>    <%= user[:name]%>  <span style="font-size: 16px;"><%= user[:points]%> points</span>
								</div>
							<%end%>
						<% end%>

							</div>
					</div>
					
				</div>
				
			</div>
	</div>
</div>